.dashboard {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.dashboard__canvas-container {
  width: 100%;
  height: calc(64% - 4px);
  background-color: var(--app-color-2);
  border-bottom: 4px solid var(--app-color-4);
}

.dashboard__toolbox {
  width: 100%;
  height: 36%;
}
