.dashboard {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.dashboardToolbar {
  height: 48px;
}

.dashboardCanvasContainer {
  width: 100%;
  height: calc(64% - 48px);
  position: relative;
}

.dashboardToolbox {
  width: 100%;
  height: 36%;
}
