.memeSvgWrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}

.memeSvgText {
  cursor: move;
}

.memeSvgText tspan {
  cursor: default;
  opacity: 0;
}

.memeSvgText:hover tspan {
  opacity: 1;
}
