.canvas-container {
  border: 2px solid var(--app-color-5);
  height: calc(100% - 1px);
  width: calc(100% - 1px);
  overflow: hidden;
}

.export-canvas-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: block;
}

.meme-canvas-export {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 0;
}
