.canvasContainer {
  height: calc(100% - 1px);
  width: calc(100% - 1px);
  overflow: hidden;
}

.canvasToolbar {
  background-color: var(--app-color-middle);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.canvasToolbarTitle,
.canvasToolbarButtons {
  flex: 1;
}

.canvasToolbarTitle {
  color: var(--app-color-shout);
  margin: 0;
  padding: 0 0 0 16px;
  font-size: 1.6em;
}

.canvasToolbarButtons {
  margin: 0;
  padding: 0 16px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.canvasToolbarButtons li,
.aboutModalClose {
  cursor: pointer;
  background-color: var(--app-color-middle-shade-1);
  border: 1px solid var(--app-color-middle-shade-2);
  width: 28px;
  height: 28px;
  text-align: center;
  margin: 0 8px;
  position: relative;
}

.canvasToolbarButtons li i {
  font-style: normal;
  display: block;
  position: absolute;
  width: 72%;
  height: 72%;
  top: 14%;
  left: 14%;
}

.liBlack i {
  background-color: black;
}

.liTransparent i {
  background-color: transparent;
}

.liWhite i {
  background-color: white;
}

.canvasToolbarButtons .liWhatIsThis:hover {
  background-color: var(--app-color-shout);
}

.exportCanvasButton {
  cursor: pointer;
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: block;
  width: 36px;
  height: 36px;
  background-color: var(--app-color-shout);
  border: 1px solid var(--app-color-middle-shade-2);
  opacity: 1;
}

.exportCanvasButton svg path {
  fill: var(--app-color-lead);
}

.exportCanvasButton:disabled {
  background-color: var(--app-color-middle-shade-1);
  cursor: not-allowed;
  opacity: 0.9;
}

.exportCanvas {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 0;
}

.aboutModal {
  background-color: var(--app-color-rear-tint-1);
  border: 1px solid var(--app-color-rear);
  padding: 16px;
}

.aboutModalToolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.aboutModalClose {
  color: var(--app-color-lead);
  margin: 0;
}

.aboutModalContent h2 {
  color: var(--app-color-lead-shade-1);
  margin-top: 0;
}

.aboutModalContent a {
  color: var(--app-color-shout);
}

.aboutModalContent a:hover {
  text-decoration: underline;
}
