html {
  --app-color-lead: #efefef;
  --app-color-lead-shade-1: #bdd4de;
  --app-color-middle-tint-1: #3f5765;
  --app-color-middle: #2b3a42;
  --app-color-middle-shade-1: #26343d;
  --app-color-middle-shade-2: #1f2c33;
  --app-color-rear-tint-1: #221e1f;
  --app-color-rear: #18181a;
  --app-color-shout: #ff530d;
}

@media (prefers-color-scheme: dark) {
  html {
    --app-color-lead: #efefef;
    --app-color-lead-shade-1: #bdd4de;
    --app-color-middle-tint-1: #3f5765;
    --app-color-middle: #2b3a42;
    --app-color-middle-shade-1: #26343d;
    --app-color-middle-shade-2: #1f2c33;
    --app-color-rear-tint-1: #221e1f;
    --app-color-rear: #18181a;
    --app-color-shout: #ff530d;
  }
}

html,
body,
#__next {
  background-color: var(--app-color-rear);
  color: var(--app-color-lead);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Anton";
  src: url("/fonts/Anton-Regular.woff2") format("woff2");
}

.anton {
  font-family: "Anton";
}

body .popup-content {
  background: transparent;
  border: none;
  transform: translateY(-16vh);
}
