.item {
  cursor: pointer;
  height: 200px;
  position: relative;
}

.item img {
  transform: scale(0.9);
}

.item:hover {
  background-color: var(--app-color-2);
}

.item--selected,
.item--selected:hover {
  background-color: var(--app-color-4);
}

.item--selected:hover {
  cursor: auto;
}
