.item {
  cursor: pointer;
  height: 200px;
  position: relative;
}

.item img {
  transform: scale(0.9);
}

.item:hover {
  background-color: var(--app-color-2);
}

.itemSelected,
.itemSelected:hover {
  background-color: var(--app-color-4);
}

.itemSelected:hover {
  cursor: auto;
}
