.item {
  cursor: pointer;
  height: 200px;
  position: relative;
  border: 1px solid transparent;
}

.item img {
  transform: scale(0.9);
}

.item:hover {
  border: 1px solid var(--app-color-shout);
}

.itemSelected,
.itemSelected:hover {
  background-color: var(--app-color-shout);
  border: 1px solid var(--app-color-shout);
}

.itemSelected:hover {
  cursor: auto;
}
