.container,
.main,
.sidebar {
  height: 100%;
}

.container,
.main {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main {
  width: 74%;
}

.sidebar {
  border-left: 4px solid var(--app-color-4);
  height: 100%;
  width: calc(26% - 4px);
  overflow: auto;
}
