.formContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.formContainerInput {
  padding: 0 16px;
}

.formContainerInput input,
.formContainerInput label {
  display: inline-block;
  vertical-align: text-bottom;
}

.formContainerInput label {
  width: 2.6em;
}

.formContainerInput input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--app-color-4);
  width: calc(96% - 2.6em);
  color: var(--app-color-5);
  font-size: 1em;
  line-height: 1;
}
